<!DOCTYPE html>
<html>
<head>
  <title>Tickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="layout">
  <% if flash[:notice] %>
    <p class="flash-notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="flash-alert"><%= alert %></p>
  <% end %>
  <div class="top-links">
    <% if current_user %>
      <p> <%= link_to 'Change Email/Password', edit_user_registration_path %> |
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to 'Sign In', new_user_session_path %> | 
      <%= link_to 'Sign Up', new_user_registration_path %></p>
    <% end %>
  </div>
  <div class="top-links">
    <% if current_user %>
      <p><%= "Signed in as #{current_user.email}" %></p>
    <% end %>
  </div>
  <div class="top-links top-omega">
    <p><%= link_to "Home", tickets_path %></p>
  </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<%= yield %>

</body>
</html>
